{% extends "layout/basic.html" %}
{% load static %}
{% load thumbnail %}
{% load custom_filters %}

{% block content %}
	<div class="main_wrapper">
		<h3 class="color-white">Комментарии за авторством: {{ request.user }}</h3>
		{% for comment in comments %}
		  <div class="my_comment">
		  	<div>
				<div class="flex-row-start">
					<div class="mini_av" >
						<img src="{% thumbnail comment.author.customusermodel.photo 'mini' %}">
					</div>
					<div>{{ comment.author.username }}</div>
					<div data-detail_id="{{ comment.post.pk }}">Название публикции: <a href="{% url 'echo:article_detail' comment.post.pk %}">{{ comment.post.title|truncate_more:40 }}</a></div>
				</div>
				<div>
					<div class="my_comment_wrapper">Текст комментария: <div class="my_comment_text" onclick="getComment(this)" data-comment-id="{{comment.pk}}" data-post-id="{{comment.post.pk}}"> {{ comment.content }}</div></div>
				</div>
		  	</div>
		  	<div class="">({{ comment.updated }})</div>
		</div>
		{% endfor %}
	</div>
<script src="{% static 'index.js'%}"></script>
{% endblock %}