{% extends "layout/basic.html" %}
{% load static %}
{% load thumbnail %}
{% load custom_filters %}

{% block content %}
	<div class="main_wrapper">
		<h3 class="color-white">Сохраненные публикации</h3>
		<table class="color-white my-table">
			<thead>
				<tr>
					<th>Дата сохранения</th>
					<th>Категория:</th>
					<th>Наименование:</th>
					{% if article.images != None %}
						<th>Изображение:</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr class="article_row" data-my-article-id="{{ article.pk }}" onclick="row_link(this)">
						<td>{{article.saved_time}}</td>
						<td>{{ article.category.name }}</td>
						<td class="art_title" >
							<div data-detail_id="{{ article.pk }}">{{ article.title|truncate_more:100|safe  }}
							</div>
						</td>
						<td>
							{% if article.images != None%}
								{% with article.images.first as image %}
									{% if image %}
										<img src="{% thumbnail image.image 'for_table' %}">
									{% endif %}
								{% endwith %}
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}